body {
    background-color: #1a1a2e;
    color: #e0e0e0;
    font-family: century gothic, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://images2.alphacoders.com/126/thumb-1920-1264719.jpg'); /* Chemin vers votre image de fond */
    background-size: cover; /* Pour couvrir toute la page */
    background-position: center; /* Pour centrer l'image */
    background-attachment: fixed; /* Pour que l'image reste fixe lors du défilement */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
}

header {
    background-color: rgba(22, 54, 71, 0.8); /* Couleur avec transparence pour voir l'image de fond */
    padding: 10px 20px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background-color: rgba(15, 52, 96, 0.8); /* Couleur avec transparence */
    padding: 40px 20px;
    text-align: center;
}

.hero h2 {
    color: #e0e0e0;
}

.hero p {
    color: #a0a0a0;
}

main {
    padding: 20px;
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.app-card {
    background-color: rgba(15, 52, 96, 0.9); /* Couleur avec transparence */
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.app-card img {
    width: 100%;
    border-radius: 8px;
}

.app-card h3 {
    color: #e0e0e0;
}

.app-card p {
    color: #a0a0a0;
}

button {
    background-color: #4745e9;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
}

.button-link {
    text-decoration: none; /* Supprime la décoration de texte par défaut */
    color: inherit; /* Utilise la couleur de texte par défaut */
}

.button-link button {
    background-color: #4745e9;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none; /* Supprime la décoration de texte sur le bouton */
    display: inline-block; /* Assure que le bouton se comporte comme un élément de bloc */
}

.button-link button:hover {
    background-color: #d73753;
}

footer {
    background-color: rgba(22, 36, 71, 0.8); /* Couleur avec transparence */
    padding: 10px 20px;
    text-align: center;
    color: #e0e0e0;
}
